This is a a website running on pure Ruby you can  <a href='https://github.com/schneems/minimumviablerubywebserver'>Check out the code on Github </a>. It was written by a super cool cat called <a href='http://twitter.com/schneems'>@schneems</a>. If you like Ruby things, you can find them on <a href='http://schneems.com'>his blog</a>.

<h3>Today's Lucky Numbers</h3>
<p>
  <ul>
    <% 3.times.each do |x| %>
      <li><%= rand(100) %></li>
    <% end %>
  </ul>
</p>


<p>
  Don't stop there there are more pages like <a href='/me'>/me</a>
</p>