<p>This is the `me` page. You can get here by going to <a href='/me'>/me<a/>. You can go back to the main page by visiting <a href='/index'>/index<a/>.</p>

 <p>Any files you add to `/views` that end in .html.erb will automatically be parsed and available via their name.</p>

